# Ignore everything
*

# Not in subdirectories
!*/

# Exclude the following
!.gitignore
!profiles/openevent
!*.make
!sites/default/*conf.php
!sites/default/*settings.php

# Ignore configuration files that may contain sensitive information.
#sites/*/settings*.php

# Ignore paths that contain user-generated content.
#sites/*/files
#sites/*/private
