# Ignore all files
*

# Ignores all files in subdirectories
!*/

# Exclude
!.gitignore
!*.make
!profiles/openevent/*
!profiles/openevent/patches/*
!profiles/openevent/modules/**
!sites/default/*conf.php
!sites/default/settings*.php*

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

#
sites/all/*
sites/default/*.settings.php
profiles/openevent/.DS_Store